/* (PART A) SPLASH SCREEN */
#splash {
	/* (A1) FULLSCREEN */
	position: fixed; top: 0; left: 0; z-index: 999;
	width: 100vw; height: 100vh;
  
	/* (A2) CENTER */
	display: flex;
	align-items: center; justify-content: center;
  
	/* (A3) COSMETICS */
	font-size: 24px;
	font-family: monospace;
	color: #fff; background: #060606;
  }
  
  /* (A4) TO HIDE THE SPLASH SCREEN */
  #splash.hide {
	opacity: 0; visibility: hidden;
	transition: all 1s;
  }
/*
/*

colors
lighter:
#EDDAB1
darker:
#E7CE97
*/

#wrapper{
	/*width: auto;
	min-width: 0;
	margin: 0;
	box-shadow: none;*/
	width: auto;
	text-align: center;
	max-width: 960px;


	/*width: 960px;
	padding: 20px;*/
	margin-left: auto;
	margin-right: auto;
	background-color: #0c0c0c;
	box-shadow: 5px 5px 5px 0px #0c0c0c;
	border-radius: 15px;


}


header img{
	max-width: 100%;
	height: auto;

}

body{
	background-color: #0c0c0c;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

nav{

}

main{


}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li{
	display: inline;
	padding: 10px;
}

footer li{
	display: inline;
	padding: 10px;
}

footer{

}



h1{

}

h2{

}

a {
    color: rgb(206, 206, 206);
}

a:active{

}

a:hover{

}



@media only screen and (max-width: 768px){
	body{
		margin: 0;
		padding: 0;
		background-image: none;
	}
	#wrapper{
		width: auto;
		min-width: 0;
		margin: 0;
		box-shadow: none;
	}
	header img{
		max-width: 100%;
		height: auto;
	}
	h1{
		height: 100%;
		font-size: 1.5em;
		padding-left: 0.3em;
	}
	nav{
		padding: 0;
	}
	nav a{
		display: block;
		padding: 0.2em;
		font-size: 1.3em;
		border-bottom: 1px solid #0c0c0c;
	}
	nav ul{
		margin: 0;
		padding: 0;
	}
	
	nav li{
		display: inline;
		margin: 0;
		padding: 0;

	}
	main{
		padding: 0.1em 0em 0.1em 0.4em;

	}
	footer{
		padding: 0;

	}
}
/*

colors
lighter:
#EDDAB1
darker:
#E7CE97
*/

#wrapper{
	/*width: auto;
	min-width: 0;
	margin: 0;
	box-shadow: none;*/
	width: auto;
	text-align: center;
	max-width: 960px;


	/*width: 960px;
	padding: 20px;*/
	margin-left: auto;
	margin-right: auto;
	background-color: #0c0c0c;
	box-shadow: 5px 5px 5px 0px #0c0c0c;
	border-radius: 15px;


}


header img{
	max-width: 100%;
	height: auto;

}

body{
    font-family: monospace;
    color: white;
	background-color: #0c0c0c;

}

nav{

}

main{


}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li{
	display: inline;
	padding: 10px;
}

footer li{
	display: inline;
	padding: 10px;
}

footer{

}



h1{

}

h2{

}

a:link{

}

a:active{

}

a:hover{

}



@media only screen and (max-width: 768px){
	body{
		margin: 0;
		padding: 0;
		background-image: none;
	}
	#wrapper{
		width: auto;
		min-width: 0;
		margin: 0;
		box-shadow: none;
	}
	header img{
		max-width: 100%;
		height: auto;
	}
	h1{
		height: 100%;
		font-size: 1.5em;
		padding-left: 0.3em;
	}
	nav{
		padding: 0;
	}
	nav a{
		display: block;
		padding: 0.2em;
		font-size: 1.3em;
		border-bottom: 1px solid #330000;
	}
	nav ul{
		margin: 0;
		padding: 0;
	}
	
	nav li{
		display: inline;
		margin: 0;
		padding: 0;

	}
	main{
		padding: 0.1em 0em 0.1em 0.4em;

	}
	footer{
		padding: 0;

	}
}

main > ul {
  display: inline-block;
  text-align: left;
}
.username--style--red {
	cursor: pointer;
	color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 2px #ec2020,0px 0px 3px #ec2020,0px 0px 7px #ec2020,0px 0px 5px #ec2020;
    background: no-repeat,url(sparkle_white.gif);
}
.username--style--gold {
	cursor: pointer;
	color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 2px #ecb620,0px 0px 3px #ecb620,0px 0px 7px #ecb620,0px 0px 5px #ecb620;
    background: no-repeat,url(sparkle_white.gif);
}
.username--style--mint {
	cursor: pointer;
	color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 2px #8effc7,0px 0px 3px #8effc7,0px 0px 7px #8effc7,0px 0px 5px #8effc7;
    background: no-repeat,url(sparkle_white.gif);
}
.username--style--green {
	cursor: pointer;
	color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 2px #2bff18,0px 0px 3px #2bff18,0px 0px 7px #2bff18,0px 0px 5px #2bff18;
    background: no-repeat,url(sparkle_white.gif);
}