/* (PART A) SPLASH SCREEN */
#splash {
	/* (A1) FULLSCREEN */
	position: fixed; top: 0; left: 0; z-index: 999;
	width: 100vw; height: 100vh;
  
	/* (A2) CENTER */
	display: flex;
	align-items: center; justify-content: center;
  
	/* (A3) COSMETICS */
	font-size: 24px;
	font-family: monospace;
	color: #fff; background: #060606;
  }
  
  /* (A4) TO HIDE THE SPLASH SCREEN */
  #splash.hide {
	opacity: 0; visibility: hidden;
	transition: all 1s;
  }
/*
/*

colors
lighter:
#EDDAB1
darker:
#E7CE97
*/

#wrapper{
	/*width: auto;
	min-width: 0;
	margin: 0;
	box-shadow: none;*/
	width: auto;
	text-align: center;
	max-width: 960px;


	/*width: 960px;
	padding: 20px;*/
	margin-left: auto;
	margin-right: auto;
	background-color: #0c0c0c;
	box-shadow: 5px 5px 5px 0px #0c0c0c;
	border-radius: 15px;


}


header img{
	max-width: 100%;
	height: auto;

}

body{
	background-color: #0c0c0c;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

nav{

}

main{


}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li{
	display: inline;
	padding: 10px;
}

footer li{
	display: inline;
	padding: 10px;
}

footer{

}



h1{

}

h2{

}

a {
    color: rgb(206, 206, 206);
}

a:active{

}

a:hover{

}



@media only screen and (max-width: 768px){
	body{
		margin: 0;
		padding: 0;
		background-image: none;
	}
	#wrapper{
		width: auto;
		min-width: 0;
		margin: 0;
		box-shadow: none;
	}
	header img{
		max-width: 100%;
		height: auto;
	}
	h1{
		height: 100%;
		font-size: 1.5em;
		padding-left: 0.3em;
	}
	nav{
		padding: 0;
	}
	nav a{
		display: block;
		padding: 0.2em;
		font-size: 1.3em;
		border-bottom: 1px solid #0c0c0c;
	}
	nav ul{
		margin: 0;
		padding: 0;
	}
	
	nav li{
		display: inline;
		margin: 0;
		padding: 0;

	}
	main{
		padding: 0.1em 0em 0.1em 0.4em;

	}
	footer{
		padding: 0;

	}
}
/*

colors
lighter:
#EDDAB1
darker:
#E7CE97
*/

#wrapper{
	/*width: auto;
	min-width: 0;
	margin: 0;
	box-shadow: none;*/
	width: auto;
	text-align: center;
	max-width: 960px;


	/*width: 960px;
	padding: 20px;*/
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	box-shadow: 5px 5px 5px 0px #0c0c0c;
	border-radius: 15px;


}


header img{
	max-width: 100%;
	height: auto;

}

body{
    font-family: monospace;
    color: white;
	background-color: #0c0c0c;

}

nav{

}

main{


}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li{
	display: inline;
	padding: 10px;
}

footer li{
	display: inline;
	padding: 10px;
}

footer{

}



h1{

}

h2{

}

a:link{

}

a:active{

}

a:hover{

}



@media only screen and (max-width: 768px){
	body{
		margin: 0;
		padding: 0;
		background-image: none;
	}
	#wrapper{
		width: auto;
		min-width: 0;
		margin: 0;
		box-shadow: none;
	}
	header img{
		max-width: 100%;
		height: auto;
	}
	h1{
		height: 100%;
		font-size: 1.5em;
		padding-left: 0.3em;
	}
	nav{
		padding: 0;
	}
	nav a{
		display: block;
		padding: 0.2em;
		font-size: 1.3em;
		border-bottom: 1px solid #330000;
	}
	nav ul{
		margin: 0;
		padding: 0;
	}
	
	nav li{
		display: inline;
		margin: 0;
		padding: 0;

	}
	main{
		padding: 0.1em 0em 0.1em 0.4em;

	}
	footer{
		padding: 0;

	}
}

main > ul {
  display: inline-block;
  text-align: left;
}
.username--style--red {
	cursor: pointer;
	color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 2px #ec2020,0px 0px 3px #ec2020,0px 0px 7px #ec2020,0px 0px 5px #ec2020;
    background: no-repeat,url(sparkle_white.gif);
}
.username--style--gold {
	cursor: pointer;
	color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 2px #ecb620,0px 0px 3px #ecb620,0px 0px 7px #ecb620,0px 0px 5px #ecb620;
    background: no-repeat,url(sparkle_white.gif);
}
.username--style--mint {
	cursor: pointer;
	color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 2px #8effc7,0px 0px 3px #8effc7,0px 0px 7px #8effc7,0px 0px 5px #8effc7;
    background: no-repeat,url(sparkle_white.gif);
}
.szin {
	cursor: pointer;
	color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 2px #005c05,0px 0px 3px #005c05,0px 0px 7px #005c05,0px 0px 5px #005c05;
}
.doxfej {
	color: #05a100	;
	animation: ft-glitch-doxfej .65s cubic-bezier(.25, .46, .45, .9399999999999999) infinite both;
}
@keyframes ft-glitch-doxfej {
    0% {
		color: #05a100	;
        text-shadow: none
    }

    25% {
		color: #05a100	;
        text-shadow: -2px 0px 0 #2f722d6b,2px 2px 0 #0bff0327
    }

    50% {
		color: #047500	;
        text-shadow: 2px -2px 0 #2f722d3b,-2px 2px 0 #0bff0370
    }

    75% {
		color: #023100	;
        text-shadow: -2px 2px 0 #2f722d,2px -2px 0 #0bff0370
    }

    100% {
		color: #047500	;
        text-shadow: 2px 2px 0 #2f722d6b,-2px -2px 0 #0bff0327
    }
}
.bar {
	padding: 0;
    margin: -8px;
    background: #316812;
    background: -moz-linear-gradient(left,#316812 0,#09ff00 25%,#00ffaa 75%,#00724c 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#316812),color-stop(25%,#09ff00),color-stop(75%,#00ffaa),color-stop(100%,#00724c));
    background: -webkit-linear-gradient(left,#316812 0,#09ff00 25%,#00ffaa 75%,#00724c 100%);
    background: -o-linear-gradient(left,#316812 0,#09ff00 25%,#00ffaa 75%,#00724c 100%);
    background: -ms-linear-gradient(left,#316812 0,#09ff00 25%,#00ffaa 75%,#00724c 100%);
    background: linear-gradient(to right,#316812 0,#09ff00 25%,#00ffaa 75%,#00724c 100%);
    height: 3px;
    border-bottom: 1px solid #000;
}
html, body {
    cursor: url("cursor.ico"), default;
}